APP_NAME=Kimboo
APP_ENV=production
APP_KEY=base64:E01ypznKXQiO564jcUha7kg62lo3vTiwSegfCS+8BH8=
APP_DEBUG=false
APP_URL=https://kimboo.net

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# --- CONFIGURATION BASE DE DONNÉES OVH ---
# (Remplacer par vos identifiants MySQL créés sur votre espace client OVH)
DB_CONNECTION=mysql
DB_HOST=VOTRE_HOTE_MYSQL_OVH.mysql.db
DB_PORT=3306
DB_DATABASE=VOTRE_NOM_DE_BD_OVH
DB_USERNAME=VOTRE_UTILISATEUR_BD_OVH
DB_PASSWORD=VOTRE_MOT_DE_PASSE_BD_OVH

# --- SESSIONS & CACHE ---
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=database

# --- CONFIGURATION EMAILS OVH (SMTP) ---
MAIL_MAILER=smtp
MAIL_HOST=ssl0.ovh.net
MAIL_PORT=587
MAIL_USERNAME=bonjour@kimboo.net
MAIL_PASSWORD=BRAZZAVILLE99
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="bonjour@kimboo.net"
MAIL_FROM_NAME="Kimboo"

VITE_APP_NAME="${APP_NAME}"
